/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------------------------------*/
body {
  font-family: "DM Sans", sans-serif;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  background-color: white;
}

/* ------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* ------Общий контейнер-------------------- */
._container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ----Шапка----------------------------------- */
.header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-height: 149px;
}

.header__menu {}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__list li {
  margin: 0 40px 0 0;
}

.menu__list li:last-child {
  margin: 0 20px 0 0;
}

.menu__item {}

.menu__link {
  color: #222222;
}

.header__logo {
  margin-left: -30px;
}

.header__buttons {
  display: flex;
  flex-wrap: wrap;
}

.header__buttons>* {
  margin: 0 0 0 30px;
}

.header__button-search {}

.header__button-bascket {}

.header__button-regestar {
  height: 40px;
  width: 160px;
  border-radius: 8px;
  background-color: #09a66d;
  color: white;
}

/* -------Основной контент----------------- */
.page {}

.page__main-block {
  position: relative;
  padding-top: 93px;
  height: 850px;
}

/* ------Общий блок тайтл с текстом---------------- */
.description {
  position: relative;
  z-index: 1;
}

.description__title {
  font-family: "Rosario", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 20px;
}

.description__text {
  max-width: 637px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}

.text-margin {
  margin: auto;
  margin-bottom: 40px;
}

/* -------Общий блок для кнопки заказа------------- */
.order {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__text {
  margin-right: 20px;
}

.order__button {
  background-color: #09a66d;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.order__button-arrow {}

/* --------Общий блок с достижениями------------------ */

.main-block__achievements {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-block__achievements>*:not(:last-child) {
  margin-bottom: 30px;
}

.achievements {
  width: 250px;
  height: 116px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements__image {
  margin-right: 24px;
}

.achievements__statistic {}

.achievements__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.achievements__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.main-block__image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-block__image-leaf {
  position: absolute;
  top: -35px;
  left: 0px;
  object-fit: contain;
}

/* -----------Второй сектор---------------------- */
.page__advantages {
  position: relative;
  padding-top: 141px;
  height: 1065px;
}

.advantages__body {
  text-align: left;
}

.advantages__services {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

/* --------Общий блок с сервисами----------------- */
.service {
  display: flex;
  width: 500px;
  height: 160px;
  align-items: center;
  justify-content: center;
}

.service-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 8px;
}

.service-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.service__btn {
  width: 80px;
  height: 80px;
  margin-right: 24px;
  border-radius: 50%;
  background-color: #f3fbf8;
  display: flex;
}

.service__image {
  object-fit: none;
}

.advantages__arrow-next {
  position: absolute;
  left: 336px;
}

.advantages__image-courier {
  z-index: 1;
  position: absolute;
  top: 319px;
  left: 740px;
}

.advantages__image-vector {
  position: absolute;
  top: -30px;
  left: 460px;
}

/* -------Третий блок---------------------- */
.page__explor {
  background-color: rgba(9, 166, 109, 0.05);
}

.explor__body {
  display: flex;
  position: relative;
  padding-top: 90px;
  min-height: 832px;
}

.fruits {
  background-color: rgba(9, 166, 109, 0.05);
  max-width: 600px;
  max-height: 600px;
  object-fit: none;
}

.explor__content {
  text-align: left;
  padding: 30px 15px 0 50px;
}

.explor__order {
  justify-content: left;
}

.explor__leaf {
  position: absolute;
  bottom: 0;
  left: 876px;
}

/* --------------Четвертый блок----------------- */
.page__opinion {}

.opinion__body {
  padding-top: 96px;
  min-height: 541px;
  text-align: left;
  position: relative;
  display: flex;
}

.opinion__content {}

.opinion__description {}

.opinion__text {
  max-width: 590px;
}

.opinion__elements {
  position: relative;
  display: flex;
  object-fit: none;
  max-width: 466px;
}

.opinion__name {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 18px;
}

.opinion__stars {}

.opinion__buttons {
  position: absolute;
  right: 0;
  top: -20px;
}

.opinion__button_left {
  margin-right: 26px;
}

.opinion__button_right {}

.opinion__image {
  width: 500px;
  height: 500px;
  margin-top: 41px;
}

/* ----------Пятый блок--------------------- */
.page__order {}

.order__container {}

._container {}

.order__body {
  margin-top: -20px;
  min-height: 786px;
  padding: 150px 0 140px 100px;
  text-align: left;
  position: relative;
  display: flex;

}

.order__image {
  margin-right: 113px;
  object-fit: none;
}

.order__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-text {
  max-width: 574px;
}

.order__link {
  text-align: center;
  width: 170px;
  padding: 6px 0;
  background-color: rgba(243, 251, 248, 1);
  border-radius: 50px;
  color: rgba(51, 51, 51, 1);

}

.description__title {}

.description__text {}

.order__download {}

.order__app {
  margin-right: 24px;
}

.order__google {}

/* -----Футер-------------------------------- */
.footer {}

/* ------------Адаптив------------------------------------- */
@media (max-width: 1300px) {
  .advantages__image-courier {
    display: none;
  }

  .explor__body {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .header__logo {
    display: none;
  }

  .opinion__body {
    flex-direction: column;
  }
  .order__image {
    display: none;
  }
  .order__description {
    margin-left: -95px;
  }
  .explor__description {
    margin-left: -50px;
  }
}

@media (max-width: 800px) {
  .header__container {
    padding-top: 20px;
  }

  .header__buttons>* {
    margin: 0 0 20px 20px;
  }

  .menu__list li {
    margin-bottom: 20px;
  }

  .main-block__image-bg {
    opacity: 0.7;
  }

  .main-block__image-leaf {
    opacity: 0.7;
  }

  .page {
    padding-top: 30px;
  }

  .main-block__order {
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .menu__list {
    flex-direction: column;
    text-align: left;
    padding-bottom: 25px;
    font-size: 130%;
  }

  .header__buttons {
    justify-content: center;
  }

  .header__buttons>* {
    margin-bottom: 15px;
  }

  .description__title {
    font-size: 50px;
  }

  .main-block__order {
    margin-bottom: 25px;
  }

  .service {
    justify-content: left;
    width: 320px;
  }

  .explor__content {
    padding-left: 0;
  }

  .opinion__image {
    margin-left: -70px;
  }
}